<div class="button-row">
  <a mat-raised-button color="primary" (click)="employeeDetails()"><mat-icon>show</mat-icon></a>
</div>
<form [formGroup]="employeeForm" (ngSubmit)="onFormSubmit(employeeForm.value)">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="EmployeeID" formControlName="EmployeeID"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!employeeForm.get('EmployeeID').valid && employeeForm.get('EmployeeID').touched">Please enter EmployeeID</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Name" formControlName="Name"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!employeeForm.get('Name').valid && employeeForm.get('Name').touched">Please enter Name</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Designation" formControlName="Designation"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!employeeForm.get('Designation').valid && employeeForm.get('Designation').touched">Please enter Designation</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Salary" formControlName="Salary"
           [errorStateMatcher]="matcher"></textarea>
    <mat-error>
      <span *ngIf="!employeeForm.get('Salary').valid && employeeForm.get('Salary').touched">Salary</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Experience" formControlName="Experience"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!employeeForm.get('Experience').valid && employeeForm.get('Experience').touched">Please enter Experience</span>
    </mat-error>
  </mat-form-field>

  <div class="button-row">
    <button type="submit" [disabled]="!employeeForm.valid" mat-raised-button color="primary"><mat-icon>save</mat-icon></button>
  </div>
</form>
